body{
    font-family: serif;
}
figcaption, h1, h3, p{
    text-align: center;
}

img{
    width: 100%;
    margin-bottom: 10px;
}

main{
    background-color: #eee;
    border-radius: 5px;
    margin: 30px 0;
    padding: 20px 0 10px 0;
}

#bottom-h3{
    margin-top: 50px;
}

#list-div{
    line-height: 1.6rem;
    margin: auto;
    width: 600px;
}

#main-div{
    background-color: white;
    margin: auto;
    padding: 5px 180px;
    width: 1100px;
}